/* Navigation bar */

.nav_img {
  width: 25px;
}

#youtube_logo {
  width: 50px;
}

#search_box {
  width: 500px;
  height: 26px;
}

nav {
  display: flex;
  justify-content: space-between;
}
#menu-logo>a{
  margin-left: 15px;
  
}

#account>a {
  margin-right: 10px;
}

#google_account {
  width: 30px;
}

#magnify_glass {
  position: relative;
  top: 6px;
  height: 26px;
}